<nav class="navbar bg-body-tertiary fixed-top top-nav">
    <div class="container-fluid">
    <div class="container" style="text-align: center;">
        <a class="navbar-brand" style="color: #fff;" href="#">Billing System</a>
    </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/billingsystem">Billing System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/instructions">Instructions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_info">User Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="apply-translation">
    <h1>Instructions</h1>
    <h2>Dashboard</h2>
    <hr>
    <ol>
        <li>When logged in, the user is redirected to the dashboard</li>
        <li>The data and information is specific to the user</li>
    </ol>
    <h2>Adding Data</h2>
    <hr>
    <ol>
        <li>Fill the form with product information</li>
        <li>Click on submit</li>
    </ol>
    <h2>Viewing Data</h2>
    <hr>
    <ol>
        <li>Look at the table below the form to see purchase data</li>
        <li>The second column displays product information</li>
        <li>The third column displays price information calculated based on price of single product and quantity and price after applying discount</li>
        <li>The fourth column has buttons to update or delete specific purchase data</li>
        <li>The last row of the table displays the total price of the entire purchase records</li>
    </ol>
    <h2>Deleting Data</h2>
    <hr>
    <ol>
        <li>Click on the delete button in the corresponding row of which the data should be deleted in the database.</li>
    </ol>
    <h2>Updating Data</h2>
    <hr>
    <ol>
        <li>Click on the update button in the corresponding row and a popup form opens with the existing row data populated</li>
        <li>Make the required changes</li>
        <li>Click update on the popup form to close and modify the data</li>
        <li>The changes are made in the database and displayed in the table</li>
    </ol>
</div>