<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Author: Sai Teja Sunku, Product: Simple web application for billing system">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet" media="all">

    <link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
    <script src="/js/main.js" defer async></script>
    <script src="/js/bootstrap.min.js" defer async></script>
    <title>Billing System</title>
</head>
<body>

    {{{body}}}

    <footer class="footer"><b>Copyright &#169; Sai Teja Sunku, 2024</b></footer>

</body>
</html>